{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div> #}

    <form class="flex flex-col gap-y-6 justify-center items-center mt-6 md:mt-40 gap-x-12" method='post' enctype="multipart/form-data">
        <div class="relative flex w-96 flex-col rounded-xl bg-[#292a2d] bg-clip-border text-white">
            <div class="relative mx-4 -mt-6 mb-4 grid h-28 place-items-center overflow-hidden rounded-xl bg-[#c24238] text-white ">
                <h3 class="block font-sans text-3xl font-semibold leading-snug tracking-normal text-white antialiased">
                    Register
                </h3>
            </div>
            <div class="flex flex-col gap-4 p-6">
                <div class="relative h-11 w-full min-w-[200px]">
                    
                    <input type='email' value="{{ field_value(form.username) }}" name="{{ field_name(form.email) }}" id='email' autocomplete="email" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                    <label for='email' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Email
                    </label>
                </div>
                <div class="relative h-11 w-full min-w-[200px]">
                    <input type="password" name="{{ field_name(form.password.first) }}" id="password" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                    <label for='password' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Password
                    </label>
                </div>
                <div class="relative h-11 w-full min-w-[200px]">
                    <input type="password" name="{{ field_name(form.password.second) }}" id="r_password" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                    <label for='r_password' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Confirm password
                    </label>
                </div>
                <div class="relative h-11 w-full min-w-[200px]">
                    <input type="text" name="{{ field_name(form.username) }}" id="username" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                    <label for='username' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Username
                    </label>
                </div>
                <div class="relative h-11 w-full min-w-[200px] flex flex-row justify-evenly items-center">
                    <h4>Profile Picture:</h4>
                    <input type="file" name="{{ field_name(form.image) }}" id="image" autocomplete="current-password" class="w-[0.1px] h-[0.1px ] opacity-0 overflow-hidden absolute -z-1" placeHolder=" "/>
                    <label for='image' class="cursor-pointer select-none rounded bg-[#c24238] py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white transition-all active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                        Choose a file
                    </label>
                </div>
                
                <h4 class="text-center">Your address</h4>

                <div class="grid grid-cols-4 grid-rows-1 gap-2">
                    <div class="relative h-11 w-full min-w-[200px] col-span-3">
                        <input type="text" name="{{ field_name(form.address.street) }}" id="street" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                        <label for='street' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Street
                        </label>
                    </div>
                    <div class="relative h-11 w-full col-span-1">
                        <input type="number" name="{{ field_name(form.address.number) }}" id="number" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                        <label for='number' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Num
                        </label>
                    </div>
                </div>
                <div class="grid grid-cols-5 grid-rows-1 gap-2">
                    <div class="relative h-11 w-full min-w-[200px] col-span-3">
                        <input type="text" name="{{ field_name(form.address.city) }}" id="city" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                        <label for='city' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                            City
                        </label>
                    </div>
                    <div class="relative h-11 w-full col-span-2">
                        <input type="number" name="{{ field_name(form.address.postalCode) }}" id="postcode" autocomplete="current-password" class="form-control peer h-full w-full rounded-md border border-[#c24238] bg-transparent px-3 py-3 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-[#c24238] focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" placeHolder=" " required/>
                        <label for='postcode' class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-white peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-[#c24238] peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-[#c24238] peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                        Postal Code
                        </label>
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="p-6 pt-0">
                    <button  name="submit" class="block w-full select-none rounded-lg bg-[#c24238] hover:bg-[#882e28] py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white transition-all active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="submit">
                        Register
                    </button>
                    <p class="mt-6 flex justify-center font-sans text-sm font-light leading-normal text-inherit antialiased">
                        Already have an account?
                        <a href="{{ path('app_login') }}" class="ml-1 block font-sans text-sm font-bold leading-normal text-[#c24238] antialiased">
                            Log in
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </form>

{% endblock %}
