{% extends 'base.html.twig' %}

{% block title %}Groove Yard{% endblock %}

{% block body %}

    <div class="bg-[#292a2d] p-3 m-3 mt-3 rounded-lg">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4">
                <div class="h-[460px] rounded-lg bg-gray-300 mb-4">
                    <img class="w-full h-full object-cover" src="{{ asset('images/' ~ album.image) }}" alt="{{ album.title }}">
                </div>
                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 px-2">
                    <a href="{{ path('user_collection_add', {id: album.id}) }}">
                        <button class="w-full bg-[#c24238] text-white py-2 px-4 rounded-xl font-bold hover:bg-[#882e28]">Add to my lists</button>
                    </a>
                    </div>
                    <div class="w-1/2 px-2">
                        <a href="{{ path('album_market') }}">
                            <button class="w-full bg-[#c24238]  text-gray-800 dark:text-white py-2 px-4 rounded-xl font-bold hover:bg-[#882e28] ">Search for seller</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-1 px-4 justify-evenly">
                <h2 class="text-4xl font-bold text-gray-800 dark:text-white mb-2">{{ album.title }}</h2>
                <h3 class="text-xl text-gray-800 dark:text-white mb-2">By <span class="font-bold text-2xl">{{ album.artist }}</span></h2>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Year:</span>
                        <span class="text-gray-600 dark:text-gray-300">{{ album.year }}</span>
                    </div>
                </div>
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Description:</span>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                        {{ album.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
