
<nav class="flex flex-col md:flex-row bg-[#292a2d] text-white shadow-md leading-none items-center">
    <div class="flex items-center mx-5 py-5 md:py-0">
        <svg class="fill-current inline-block" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><circle cx="12" cy="12" r="3"/><path stroke-linecap="round" d="M21.95 13c-.501 5.054-4.765 9-9.95 9c-5.523 0-10-4.477-10-10c0-5.185 3.947-9.448 9-9.95"/><path stroke-linecap="round" stroke-linejoin="round" d="M15 12V2.456a10.024 10.024 0 0 1 6.542 6.542"/></g></svg>
        <h1 class="text-2xl ml-2 inline-block me-6">Groove Yard</h1>

        <ul class="text-lg md:flex md:ml-auto ">
            <li><a class="w-full md:w-auto p-5 inline-block border-b-4 {% if currentPath == '/' %}  border-white bg-[#c24238] {% else %} border-transparent hover:border-white hover:bg-[#393333] {% endif %}" href="{{ path('app_index') }}">Home</a></li>
            <li><a class="w-full md:w-auto p-5 inline-block border-b-4 {% if '/album' in currentPath %}  border-white bg-[#c24238] {% else %} border-transparent hover:border-white hover:bg-[#393333] {% endif %}" href="{{ path('album_list') }}">Records</a></li>
            <li><a class="w-full md:w-auto p-5 inline-block border-b-4 {% if '/market' in currentPath %}  border-white bg-[#c24238] {% else %} border-transparent hover:border-white hover:bg-[#393333] {% endif %}" href="{{ path('album_market') }}">Market</a></li>
            {% if app.user != null %}
            <li><a class="w-full md:w-auto p-5 inline-block border-b-4 {% if '/profile/collection' in currentPath %}  border-white bg-[#c24238] {% else %} border-transparent hover:border-white hover:bg-[#393333] {% endif %}" href="{{ path('user_collection') }}">My Collection</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="md:flex md:flex-grow items-center bg-[#292a2d] md:bg-[#292a2d] me-6">
        {% if app.user == null %}
            <div class="text-lg md:flex md:ml-auto h-100">
                <a class="block w-full select-none rounded-lg bg-[#c24238] py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white transition-all active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" href="{{ path('app_login') }}">Login</a>
            </div>
        {% else %}
            <a class='text-lg md:flex md:ml-auto h-100' href=" {{ path('user_profile') }}">
                <div class="flex-shrink-0 group block">
                    <div class="flex items-center">
                        <div class="me-3">
                            <p class="font-semibold text-gray-800 dark:text-white text-right">{{ app.user.username}}</p>
                        </div>
                        <img class="inline-block flex-shrink-0 size-[54px] rounded-full" src="{% if app.user.image != null %} {{ asset('user/'  ~ app.user.image) }} {% else %} {{ asset('user/profile-3.png') }}{% endif %}" alt="{{ app.user.image }}">
                    </div>
                </div>
            </a>
            <a href="{{ path('app_logout') }}"><svg class="size-[16px] absolute right-2 top-2" viewBox="0 -0.5 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-button-error" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>970</title> <defs> </defs> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(1.000000, 0.000000)" fill="#ffffff"> <path d="M13.646,2.371 C10.535,-0.739 5.469,-0.74 2.358,2.371 C-0.753,5.483 -0.752,10.548 2.358,13.66 C5.469,16.77 10.534,16.771 13.646,13.66 C16.758,10.547 16.757,5.483 13.646,2.371 L13.646,2.371 Z M3.587,12.431 C1.148,9.993 1.146,6.028 3.58,3.594 C6.014,1.159 9.979,1.162 12.418,3.6 C14.856,6.038 14.857,10.004 12.424,12.438 C9.988,14.872 6.024,14.869 3.587,12.431 L3.587,12.431 Z" class="si-glyph-fill"> </path> <path d="M10.164,11.063 C9.982,11.063 9.845,10.991 9.776,10.922 L8.009,9.157 L6.314,10.852 C6.248,10.918 6.095,10.998 5.891,10.998 C5.738,10.998 5.507,10.952 5.288,10.733 C5.067,10.513 5.018,10.295 5.017,10.153 C5.013,9.965 5.086,9.823 5.157,9.753 L6.881,8.028 L5.201,6.35 C5.049,6.197 4.922,5.723 5.321,5.325 C5.546,5.1 5.767,5.053 5.914,5.053 C6.097,5.053 6.234,5.125 6.301,5.194 L8.009,6.9 L9.705,5.204 C9.773,5.137 9.925,5.058 10.129,5.058 C10.283,5.058 10.514,5.104 10.733,5.324 C11.111,5.703 11.035,6.134 10.864,6.304 L9.138,8.03 L10.875,9.766 C10.942,9.834 11.021,9.986 11.021,10.19 C11.021,10.344 10.976,10.573 10.756,10.792 C10.531,11.016 10.311,11.063 10.164,11.063 L10.164,11.063 L10.164,11.063 Z" class="si-glyph-fill"> </path> </g> </g> </g></svg></a>
        {% endif %}
    </div>
</nav>