{% extends 'base.html.twig' %}

{% block title %}Groove Yard{% endblock %}

{% block body %}
<div class="flex justify-center items-center flex-col">
    <div class="bg-[#292a2d] overflow-hidden shadow rounded-lg mt-10 border text-white min-w-[450px]">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-white">
                Your Profile
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-white">

            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-[#c24238]">
                        Username
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{ app.user.username }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-[#c24238]">
                        Email address
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{ app.user.email }}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-[#c24238]">
                        Address
                    </dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
                        {{ app.user.address.number ~ ', ' ~ app.user.address.street }}<br>
                        {{ app.user.address.city ~ ', '  ~ app.user.address.postalCode }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <a href="{{ path('user_edit') }}" class="my-5 text-center w-64 bg-[#c24238] text-white py-2 px-4 rounded-lg font-bold hover:bg-[#882e28]">Edit Profile</a>
</div>
{% endblock %}
